
body {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #E8C07D;
  text-decoration: inherit;
}

a:hover {
  color: #E8C07D;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.recipe__button {
  border-radius: 8px;
  border: 1px solid #E8C07D;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: white;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

.recipe__button:hover {
  background-color: #E8C07D;
  border-color: #E8C07D;
  transition: border-color 0.25s;
  transform: translateY(-2px);
  box-shadow: 0px 12px 15px #eedab5;
}

.opposite__button {
  border-radius: 8px;
  border: 1px solid #E8C07D;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #E8C07D;
  box-shadow: 0px 5px 8px #eedab5;
}

.opposite__button:hover {
  background-color: white;
  border-color: #E8C07D;
  transition: border-color 0.25s;
  transform: translateY(-2px);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}