.main {
    margin: 80px 20px;
}

.filter__main {
    display: flex;
    flex-direction: column;
}

´ .filter__select-sm {
    position: absolute;
}

.filter__options {
    width: 160px;
}


@media (min-width: 600px) {
    .filter__main {
        width: 150px;
    }
    .main {
        margin: 80px 40px;
    }
    
}

@media (min-width: 1080px) {
    .main {
        margin: 100px 200px;
    }

    .filter__main {
        width: 150px;
    }
    .search__filter__main{
        display: flex;
        column-gap: 30px;
    }
   .search__main{
    padding-top: 0px;
   }
  
    
}

@media (min-width: 1800px) {
    .main {
        margin: 100px 400px;
    }
  

}