.recipe-modal-table {
    padding: 10px;
}

.editrecipe__inputField {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data-card {
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 12px;
    background-color: #f9eeda;
    border-radius: 10px;
}

.ingredient-card {
    background-color: #c1f1cf;
}

.loading {
    display: inline-block;
    font-family: monospace;
    clip-path: inset(0 3ch 0 0);
    animation: l 1s steps(4) infinite;
}

.edit__close {
    margin-left: 94%;
}

@keyframes l {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}

@media (min-width: 600px) {
    .recipe-modal-table {
        margin: 0 20px;
    }
}

@media (min-width: 1080px) {}