.mealPlanner {
    margin: 120px 40px;
}

.mealPlanner__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1000px;
  
}
@media (min-width: 600px) {
    .mealPlanner__cards {
        gap: 30px;
    }
}
@media (min-width: 1800px) {
    .main {
        margin: 100px 400px;
    }
    .mealPlanner__cards  {
        column-gap: 50px;
        row-gap: 10px;
    }
    
  

}