/* .navbar {
    z-index: 5;
    position: fixed;
    top: 0;
    background-color: var(--cookbook);
    width: 100%;
    display: flex;
    justify-content: flex-start;
} */

.navbar {
    z-index: 5;
    position: fixed;
    top: 0;
    background-color: var(--cookbook);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar__links {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 4px;
    font-size: 12px;
}

.recipe__button__navbar {
    margin-right: 10px;
    position: fixed;
    right: 0px;
    border-radius: 8px;
    border: 1px solid #E8C07D;
    padding: 2px 5px;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: white;
    font-size: 12px;
}
  
.recipe__button__navbar:hover {
    background-color: #E8C07D;
    border-color: #E8C07D;
    transition: border-color 0.25s;
    border: 1px solid white;
  }

.welcomeUser {
    color: white;
    display: none;
    position: fixed;
    right: 86px;
}

@media (min-width: 385px) {
  .navbar__links {
    font-size: 15px;
  }
  .recipe__button__navbar {
    font-size: 15px;
}
}

@media (min-width: 600px) {
    .recipe__button__navbar {
        position: relative;
    }

    .navbar__links {
        padding: 8px;
        margin-left: 30px;
    }
}

@media (min-width: 800px) {
    .navbar__links {
        padding: 1px;
        font-size: 10px;
    }
    
    .welcomeUser {
        display: block;
        margin-right: 10px;
     }
}

@media (min-width: 1080px) {
    .navbar__links {
        padding: 6px;
        font-size: 18px;
    }
}